<h1>Account</h1>

<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>Role: <%= @user.role %></p>
<p>Enrolments:</p>
<% @user.events.each do |event| %>
  <%= event.name %>
  <%= link_to 'unrol', event, method: :delete, data: { confirm: 'are you sure you want to unrol?' } %><br>
  <% end %>