<% if can? :manage, User %>
  <h1>User account admin</h1>
  <p>Find me in app/views/users/index.html.erb</p>

    <% @users.each do |user| %>
    <%= user.name %>
    <%= user.email %>
    <%= user.role %>
    <%= link_to 'Edit', edit_user_path(user) %>
    <%= link_to 'Delete', user, method: :delete, data: {confirm: 'Are you sure?' } %><br>

  <% end %>
  <% else %>
  404
<% end %>