<%= render 'events' %>

<!-- RENDERS BOXES ON EVENT PAGE -->
<div class='quad_view_container'>

<% @events.each do |event| %>

  <div class='quad_view_box'>

    <div class='quad_box_image'>
      <%= image_tag event.event_image.detail.url, size: '150x150' %>
    </div>

    <div class='quad_box_text'>
      <h4><%= link_to event.name, event %></h4>
      <!-- THIS CUTS DESCRIPTION TO 70 CHARACTERS -->
      <p><%= event.description.split(" ").each_with_object("") {|x,ob| break ob unless (ob.length + " ".length + x.length <= 70);ob << (" " + x)}.strip %></p>
      <p><%= event.price %></p>
    </div>
    <% if can? :manage, event %>
    <%= link_to 'Edit', edit_event_path(event) %>
    <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

  </div><!-- end_of_ quod_box_biew -->
<% end %>
</div><!-- end of quad_view_container -->