<%= render 'events' %>

<table>
  <tr>
    <th>Image</th>
    <th>Event</th>
    <th>Price</th>
    <th>Bookings</th>
    <th>Edit</th>
    <th>Destroy</th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <% if can? :manage, Event %>
    <td> <%= image_tag event.event_image.thumb.url %></td>
    <td><%= link_to event.name, event %></td>
    <td><%= event.price %></td>
    <td><%= link_to 'Bookings', bookings_path(id: event.id) %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <% end %>
  </tr>
<% end %>
</table>

<br />

<br />