<h1><%= @event.name %></h1>

<!-- EVENT INFORMATION -->
<!-- event.description put in description -->
<%= image_tag @event.event_image.url %><br>
<%= @event.name %><br>

<!-- ENROL -->
<%= link_to 'Enrol', enrol_path(@event.id) %>
<%= link_to 'Back', events_path %>

