<h1><%= @event.name %></h1>


<!-- EVENT INFORMATION -->
<!-- event.description put in description -->
<%= image_tag @event.event_image.url %><br>
<%= @event.name %><br>
<%= @event.description %><br>


<!-- VIEW USERS CURRENTLY ENROLLED -->
<% if can? :manage, Event %>
<br>CURRENTLY ENROLLED PARTICIPANTS
  <% @event.users.each do |user| %>
    <br><%= user.name %>
  <% end %>
<% end %><br>


<!-- ENROL -->
<% unless can? :manage, Event %>
  <%= link_to 'Enrol', enrol_path(@event.id) %>
<% end %>
<%= link_to 'Back', events_path %>

